{% extends 'base1.html' %}

{% block title %} Comparação de Gráficos {% endblock %}
{% block content %}
    <!-- Conteúdo Principal -->
        <header class="py-3 shadow-sm">
            <div class="container d-flex justify-content-between align-items-center">
                <!-- Logotipo ou Nome do Sistema -->
                <div class="d-flex align-items-center">
                    <i class="fas fa-chart-line fa-lg me-2"></i>
                    <h1 class="m-0" style="font-family: 'Poppins', sans-serif; letter-spacing: 2px;">Comparação de
                        Gráficos</h1>
                </div>

                <!-- Barra de Pesquisa -->
                <form class="d-flex align-items-center w-50">
                    <input class="form-control me-2" type="search"
                        placeholder="Pesquisar gráficos ou dados (Não implementado)" aria-label="Search" autofocus>
                    <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
                </form>

                <!-- Ícones de Ação -->
                <div class="d-flex align-items-center">
                    <a href="#" class="text-light me-3"><i class="fas fa-bell fa-lg"></i></a>
                    <a href="#" class="text-light"><i class="fas fa-user-circle fa-2x"></i></a>
                </div>
            </div>
        </header>



        <div class="container mt-5">
            <h1 class="text-center mb-4" id="titulo-principal">Comparação de Gráficos</h1>
            <form method="POST" action="/" class="row g-4">

                <!-- Seção para datas -->
                <div class="col-md-6">
                    <div class="card p-4">
                        <h2 class="text-center mb-3"><i class="fas fa-calendar-alt"></i> Data para Comparação</h2>
                        <div class="mb-3">
                            <label for="data_inicial" class="form-label">Data Inicial:</label>
                            <input type="date" name="data_inicial" id="data_inicial" class="form-control" required
                                value="{{ request.form.get('data_inicial', '') }}">
                        </div>
                        <div class="mb-3">
                            <label for="data_final" class="form-label">Data Final:</label>
                            <input type="date" name="data_final" id="data_final" class="form-control" required
                            value="{{ request.form.get('data_final', '') }}">
                        </div>
                    </div>
                </div>

                <!-- Seção para intervalo de dados -->
                <div class="col-md-6">
                    <div class="card p-4">
                        <h2 class="text-center mb-3"><i class="fas fa-calendar"></i> Intervalo de Dados</h2>
                        <div class="mb-3">
                            <label for="intervalo" class="form-label">Escolha o Intervalo:</label>
                            <select name="intervalo" id="intervalo" class="form-select">
                                <option value="mensal">Mensal</option>
                                <option value="anual">Anual</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Seção para ações -->
                <div class="col-md-6">
                    <div class="card p-4">
                        <h2 class="text-center mb-3"><i class="fas fa-chart-line"></i> Gráfico de Ações</h2>
                        <div class="mb-3">
                            <label for="acao" class="form-label">Selecione uma ação:</label>
                            <select name="acao" id="acao" class="form-select">
                                <option value="PETR4.SA">PETR4 - Petrobras</option>
                                <option value="VALE3.SA">VALE3 - Vale</option>
                                <option value="ITUB4.SA">ITUB4 - Itaú Unibanco</option>
                                <option value="BBDC4.SA">BBDC4 - Bradesco</option>
                                <option value="LJQQ3.SA">LJQQ3 - Lojas Quero-Quero</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Seção para commodities -->
                <div class="col-md-6">
                    <div class="card p-4">
                        <h2 class="text-center mb-3"><i class="fa-solid fa-earth-americas"></i> Gráfico de Commodities
                        </h2>
                        <div class="mb-3">
                            <label for="commodity" class="form-label">Selecione uma commodity:</label>
                            <select name="commodity" id="commodity" class="form-select">
                                <option value="CL=F">Petróleo Bruto WTI</option>
                                <option value="BZ=F">Petróleo Brent</option>
                                <option value="NG=F">Gás Natural</option>
                                <option value="GC=F">Ouro</option>
                                <option value="SI=F">Prata</option>
                                <option value="HG=F">Cobre</option>
                                <option value="PL=F">Platina</option>
                                <option value="PA=F">Paládio</option>
                                <option value="TIO=F">Minério de Ferro</option>
                                <option value="ZC=F">Milho</option>
                                <option value="ZS=F">Soja</option>
                                <option value="ZW=F">Trigo</option>
                                <option value="KC=F">Café</option>
                                <option value="SB=F">Açúcar</option>
                                <option value="CT=F">Algodão</option>
                                <option value="LIT">Litio</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-search"></i> Comparar
                    </button>
                </div>
            </form>

            <!-- Exibição dos gráficos -->
            <div class="row mt-5">
                {% if grafico_acoes %}
                <div class="col-md-6">
                    <div class="card p-4">
                        <h3 class="text-center">Ação: {{ acao }}</h3>
                        <img src="{{ grafico_acoes }}" alt="Gráfico da ação {{ acao }}"
                            class="img-fluid mx-auto d-block">
                    </div>
                </div>
                {% endif %}

                {% if grafico_commoditys %}
                <div class="col-md-6">
                    <div class="card p-4">
                        <h3 class="text-center">Commodity: {{ commodity }}</h3>
                        <img src="{{ grafico_commoditys }}" alt="Gráfico da commodity {{ commodity }}"
                            class="img-fluid mx-auto d-block">
                    </div>
                </div>
                {% endif %}

                {% if not grafico_acoes and not grafico_commoditys %}
                <div class="alert alert-warning text-center">
                    Nenhum dado foi encontrado para o período ou seleção especificada.
                </div>
                {% endif %}

            </div>


{% endblock %}